.upsell {
    width: 100%;
    height: 1241px;
    background-color: white;


}

.frameone {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frametwo {
    font-size: 48px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
}

.framethree {
    font-size: 24px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.framefour {
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tickcircle {
    position: relative;
    width: 40px;
    height: 40px;
}

.imagecircle {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
}

.imagetick {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 12px;
    top: 12px;
}

.number {
    position: absolute;
    font-family: 'Manrope';
    left: 14px;
    top: 8px;
    font-size: 20px;
}

.framefive {
    width: 100%;
    height: 879px;
    padding: 40px;
    display: flex;

}

.sectionleft {
    width: 100%;
    height: 100%;
}

.imageoffer {
    width: 575px;
    height: 591px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;

}

.sectionright {
    width: 100%;
    height: 100%;
}