.upsell {
    width: 100%;
    height: 1241px;
    background-color: white;


}

/* FRAME ONE */
.frameone {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FRAME TWO */
.frametwo {
    font-size: 48px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
}

/* FRAME THREE */
.framethree {
    font-size: 24px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FRAMEFOUR */
.framefour {
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.step {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tickcircle {
    position: relative;
    width: 40px;
    height: 40px;
}

.imagecircle {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
}

.imagetick {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 12px;
    top: 12px;
}

.number {
    position: absolute;
    font-family: 'Manrope';
    left: 14px;
    top: 8px;
    font-size: 20px;
}

/* FRAME FIVE */
.framefive {
    width: 100%;
    height: 879px;
    padding: 40px;
    display: flex;
    border-color: #000;
    border: 1px solid;
}

/* section left frame five */
.sectionleft {
    width: 100%;
    height: 100%;
    border-color: #000;
    border: 1px solid;
}

.imageoffer {
    width: 575px;
    height: 591px;

}

.customersection {
    width: 575px;
    height: 186px;
    padding: 24px;
    border-color: #000;
    border: 1px solid;
}

.customername {
    color: #333333;
    font-size: 14px;
}

.customer {
    display: flex;
}

.customernivel {
    margin-left: 13px;
}

.datecustomer {
    display: flex;

}

.imageverify {
    margin-left: 10px;
    margin-right: 10px;
}

.verify {
    color: #5bb59a;
    font-size: 12px;

}

.comment {
    width: 100%;
    color: #4D5254;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;

}

/* section right frame five */
.sectionright {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    border-color: #000;
    border: 1px solid
}

.special {
    width: 100%;
    height: 113px;
    font-size: 32px;
    font-family: 'Manrope';
    font-weight: 400;
    text-transform: capitalize;
    border-color: #000;
    border: 1px solid
}

.prominent {
    color: #2C7EF8;
}

.clarifion {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.imageclarifion {
    width: 134px;
    height: 134px;
    background-color: #2C7EF8;
    border-radius: 10px;
}

.detail {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    gap: 15px;

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.deprecatedprice {
    color: #969696;
    font-size: 16;
    text-decoration: line-through;
    text-transform: capitalize;

}

.validprice {
    color: #2C7EF8;
    font-size: 22;
    text-transform: capitalize;
}

.stock {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #37465A;
}

.commentproduct {
    color: #37465A;
}

.tickdetail {
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: #37465A;
}