.upsell {
    width: 100%;
    height: 1241px;
    background-color: white;


}

.frameone {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frametwo {
    font-size: 48px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24px;
}

.framethree {
    font-size: 24px;
    color: #000;
    font-family: 'Manrope';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.framefour {
    width: 100%;
    height: 40px;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.step {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: 'inline-flex';
}

.tickcircle {
    position: relative;
    width: 40px;
    height: 40px;
}

.imagecircle {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
}

.containertick {
    position: absolute;
    color: white;
    width: 16px;
    height: 16px;
    left: 12;
    top: 12;

}

.imagetick {
    position: absolute;
    width: 20px;
    height: 16px;
    left: -2;
    top: 0;
}

.framefive {
    width: 100%;
    height: 879px;
}

.text {
    margin-left: 30px;
}